<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv=Pragma content=no-cache>
        <meta http-equiv=Expires content=-1>
        <meta http-equiv=CACHE-CONTROL content=NO-CACHE>

        <title>JS 3D Physics</title>
        <link rel="stylesheet" href="../static/htmlPages/style.css" type="text/css" />

        
        <style>
            body { margin: 0; }
        </style>
        
    </head>
    <body>
        <div class="threejs">
            <script type="module" src="../static/js/loadSTL.js"></script>
        </div>
        <iframe src="../static/htmlPages/OpenJSCAD.html" height=99.5% width=49.8% allign="left" scrolling="no" frameBorder="0" ></iframe>

    </body>
</html>